<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav" ng-controller="navConfig">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref-active="active" ui-sref="admin"><b>DashBoard</b></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" collapse="!navbarCollapsed">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active" ng-show="notLoggedLink">
					<a ui-sref="about"><b>About</b></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active" ng-show="notLoggedLink">
					<a ui-sref="signin"><b>SignIn</b></a>
				</li>
				<li  ui-sref-active="active" ng-show="notLoggedLink">
					<a ui-sref="signup"><b>SignUp</b></a>
				</li>
				<li class="dropdown" dropdown ng-show="loggedLink" >
					<a href class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" is-open="status.isopen" dropdown-toggle ng-disabled="disabled">
						<span  class="glyphicon glyphicon-cog" style="font-size:20px;"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a ui-sref="profile.setting"><span class="glyphicon glyphicon-user"></span> Account</a></li>
						<li class="divider"></li>
						<li><a ui-sref="profile.social"><span class="glyphicon glyphicon-wrench"></span> Manage Admins</a></li>
						<li class="divider"></li>
						<li><a ui-sref="profile.userPassword"><span class="glyphicon glyphicon-asterisk"></span> Change Password</a></li>
						<li class="divider"></li>
						<li><a ui-sref="signout"><span class="glyphicon glyphicon-stop"></span> SignOut</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>