<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div ng-repeat="i in info.info">
			<h4 class="muted">{{i.user[0].name}}'s Order</h4>
			<table class="table">
				<thead>
					<tr>
						<th>Address</th>
						<th>Date</th>
						<th>M. Number</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{i.address}}</td>
						<td>{{i.created | date:'MM/dd/yyyy  HH:mm Z'}}</td>
						<td>{{i.mobilePhone}}</td>
						<td>{{i.price}}</td>
					</tr>
				</tbody>
			</table>

			<table class="table">
				<thead>
					<th>Old Status</th>
					<th>Remark</th>
				</thead>
				<tbody>
					<tr ng-repeat="status in i.statusHistory">
						<td>{{status.oldStatus}}</td>
						<td>{{status.updateRemarks}}</td>
					</tr>
				</tbody>
			</table>

			<button class="btn-lg btn-block" ng-class="{'btn btn-warning': i.status=='pending', 'btn btn-danger': i.status=='canceled', 'btn btn-success': i.status=='delivered', 'btn btn-info': i.status=='processing'}">{{i.status}}</button>

			<div class="row add-space" ng-repeat="product in i.product">
				<div class="col-md-12" product-brief-product-directive="product.info"></div>
			</div>

			<hr>
		</div>
	</div>
</div>